obj/Debug/netcoreapp2.0/Central-SignalR-Client.dll
bin/Debug/netcoreapp2.0/Central-SignalR-Client.dll
bin/Debug/netcoreapp2.0/Central-SignalR-Client.pdb
obj/Debug/netcoreapp2.0/Central-SignalR-Client.pdb
log.txt
